---
navigationOptions:
  listElement: ol
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/assets/styles.css">
    <title>{{ site.title }} : {{ title }}</title>
  </head>
  <body>
    <header style="display: flex;align-items: start;border-bottom: 2pt solid #007aa2; padding-bottom: .5em;">
      <h1 style="font-weight: bolder;color: #007aa2;flex-grow: 1;margin: 0">{{ site.title }}</h1>
      <img style="height: 4rem;" src="/figures/eddie-logo.png">
    </header>
    <div class="container">
      <nav>
        {{ collections.all | eleventyNavigation | eleventyNavigationToHtml: navigationOptions }}
      </nav>
      <main>
        <h1>{{ title }}</h1>
        <div>{{ content }}</div>
      </main>
    </div>
    </body>
</html>
