---js
{
  navigationOptions: {
    listElement: "ol",
    activeAnchorClass: "current"
  },
  eleventyComputed: {
    navigationOptions: {
      activeKey: (data) => data.eleventyNavigation.key
    }
  }
}
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="icon" type="image/png" href="/figures/favicon-32x32.png" />
  <title>{{ site.title }} : {{ title }}</title>
</head>

<body>
  <header>
    <h1>{{ site.title }}</h1>
    <img src="/figures/eddie-logo.png">
  </header>
  <div class="container">
    <nav>
      {{ collections.all | eleventyNavigation | renderNav: page.url, collections.all }}
    </nav>
    <main>
      <h1>{{ title }}</h1>
      <div>{{ content }}</div>
    </main>
  </div>
  <footer>
    <span>last edited on {{ page.date | date: "%d.%m.%Y %H:%M" }}</span>
    <a href="https://github.com/eddie-energy/architecture/blob/main/{{ page.inputPath }}">edit on GitHub</a>
  </footer>
</body>

</html>