/* ================================================================> page layout
*/
:root {
  --eddie-blue: #007aa2;
  --links: var(--eddie-blue);
}

body {
  max-width: 1100px;
  padding: 0 2ch;
}

header {
  display: flex;
  align-items: start;
  border-bottom: 2pt solid var(--eddie-blue);
  padding-bottom: 0.5em;
}

header > h1 {
  font-weight: bolder;
  color: var(--eddie-blue);
  flex-grow: 1;
  margin: 0;
}

header > img {
  height: 4rem;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.container > nav {
  flex: 0 0 30ch;
}

.container > main {
  flex: 1 1 80ch;
}

.page-metadata {
  position: absolute;
  top: 0;
  right: 0;
  font-style: italic;
  color: var(--eddie-blue);
}

/* ================================================================> navigation
*/
.container > nav > ol {
  padding-left: 0;
}

.container > nav > ol ol,
.container > nav > ol ol ol {
  padding-left: 3ch;
}

.container > nav > ol ol ol {
  padding-left: 1.5ch;
}

.container > nav > ol > li {
  list-style-type: none;
}

a.current {
  font-weight: bolder;
}
