/* ================================================================> page layout */
:root {
  --eddie-blue: #007aa2;
  --links: var(--eddie-blue);
  --section-separator: 2pt solid var(--eddie-blue);
}

body {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  align-items: start;
  border-bottom: var(--section-separator);
  padding-bottom: 0.5em;
}

header>h1 {
  font-weight: bolder;
  color: var(--eddie-blue);
  flex-grow: 1;
  margin: 0;
}

header>img {
  height: 4rem;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.container>nav {
  flex: 0 0 50ch;
}

div.container>nav {
  padding-right: 1rem;
}

.container>main {
  flex-grow: 1;
  text-align: justify;
}

footer {
  border-top: var(--section-separator);
  display: flex;
  justify-content: space-between;
}

footer span {
  font-style: italic;
}

/* ================================================================> navigation */
.container>nav {
  /* font-size: 1.1em; Increase the font size if needed */
}

.container>nav>ol {
  padding-left: 0;
}

.container>nav>ol>li {
  list-style-type: none;
}

a.current {
  font-weight: bolder;
}

.container>nav,
.container>nav>ul,
.container>nav>ul>li {
  margin: 0;
  padding: 0;
}

.container > nav ul {
  margin: 0;
  padding: 0;
}

.container > nav ul ul {
  padding-left: 1em; /* Adjust this value as needed */
}

/* ================================================================> collapsible TOC */
details {
  margin-bottom: 0.5em;
  border-left: 3px solid var(--eddie-blue);
  padding-left: 1em;
  margin-left: 0;
  /* Added to ensure no extra left margin */
}

details>summary {
  /* font-weight: bold; */
  cursor: pointer;
  color: var(--eddie-blue);
}

details[open] {
  background-color: rgb(255, 255, 255);
}

/* ================================================================> tables */
.container > main table {
  width: 100%; /* Makes the table use the full width of its container */
  table-layout: auto; /* Allows columns to adjust based on content */
  border-collapse: collapse; /* Optional: Collapses border spacings */
}

.container > main th, 
.container > main td {
  text-align: justify; /* Aligns text to the left within cells */
  padding: 8px; /* Adds padding inside each cell */
  border: 1px solid #ccc; /* Optional: Adds border to each cell */
  background-color: white; /* Set the background color for table cells and headers */
}
