/* ================================================================> page layout */
:root {
  --eddie-blue: #007aa2;
  --links: var(--eddie-blue);
  --section-separator: 2pt solid var(--eddie-blue);
}

body {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

header {
  display: flex;
  align-items: start;
  border-bottom: var(--section-separator);
  padding-bottom: 0.5em;
}

header>h1 {
  font-weight: bolder;
  color: var(--eddie-blue);
  flex-grow: 1;
  margin: 0;
}

header>img {
  height: 4rem;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.container>nav {
  flex: 0 0 50ch;
}

div.container>nav {
  padding-right: 1rem;
}

.container>main {
  flex-grow: 1;
  text-align: justify;
}

footer {
  border-top: var(--section-separator);
  display: flex;
  justify-content: space-between;
}

footer span {
  font-style: italic;
}

/* ================================================================> navigation */
.container>nav>ol {
  padding-left: 0;
}

.container>nav>ol>li {
  list-style-type: none;
}

a.current {
  font-weight: bolder;
}

.container>nav,
.container>nav>ul,
.container>nav>ul>li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container>nav ul {
  margin: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.5em;
}

.container>nav ul ul {
  padding-left: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.container>nav {
  padding-top: 1em;
}


/* ================================================================> collapsible TOC */
details {
  /* border-left: 3px solid var(--eddie-blue); */
  padding-top: 0;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgb(255, 255, 255);
}

details[open] {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}


details>summary {
  /* font-weight: bold; */
  /* cursor: context-menu; */
  color: var(--eddie-blue);
  margin: 0;
  /* Remove margin */
  padding: 0;
  /* Remove padding */
  background-color: rgb(255, 255, 255);
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;

}

details[open]>summary::before {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

details[open] summary {
  margin-bottom: 0; /* Adjust as needed */
}




/* ================================================================> tables */
.container>main table {
  width: 100%;
  /* Makes the table use the full width of its container */
  table-layout: auto;
  /* Allows columns to adjust based on content */
  border-collapse: collapse;
  /* Optional: Collapses border spacings */
}

.container>main th,
.container>main td {
  text-align: justify;
  /* Aligns text to the left within cells */
  padding: 8px;
  /* Adds padding inside each cell */
  border: 1px solid #ccc;
  /* Optional: Adds border to each cell */
  background-color: white;
  /* Set the background color for table cells and headers */
}

/* ================================================================> expand arrows */

/* Hide the default arrow */
details>summary {
  list-style: none;
}

details>summary::-webkit-details-marker {
  display: none;
}

/* Create a custom arrow */
details>summary::before {
  /* content: '➤';  */
  /* content: '➣';  */
  /* content: '▶';  */
  content: '›';
  font-size: 1.5em;
  margin-right: 0.35em;
  line-height: 0.7em;
}

/* Change the arrow when details are open */
details[open]>summary::before {
  content: '›';
  /* Arrow symbol */
  display: inline-block;
  /* Ensure the content is an inline block */
  transform: rotate(90deg);
  /* Rotate by 45 degrees */
  transform-origin: center;
  /* Set the rotation origin to the center */
}

/* ================================================================> Non collapsible TOC */
